<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>RS API</title>
</head>
<body>
	<!-- this is incase someone goes to the landing page...this is an api, no one should be here -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script data-main="../public/scripts/base-config.js" src="../public/vendors/requirejs/require.js"></script>
</body>
</html>