<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mocha Spec Runner</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    <!-- include source files here... -->
    <script data-main="../public/scripts/base-config.js" src="../public/vendors/requirejs/require.js"></script>
    <!--<script src="../public/scripts/base.js"></script>-->
    <!-- include spec files here... -->


</body>
</html>